/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&display=swap");

/* Global Styles */
body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dd0000;
  border-radius: 5px;
  border: none;
  width: 187px;
  height: 56px;
  padding: 16px 25px;

  font-size: 20px;
  font-weight: 400;
}

.button a {
  text-decoration: none;
  color: #fff;
}

/* Banner Section Start */
.container {
  width: 1321px;
  height: 646px;
  background-color: #161616;
  border-radius: 30px;
  margin: 30px auto 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text {
  width: 531px;
  height: 424px;
  margin: 111px 24px 111px 106;
}

.container-text h1 {
  color: #fff;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}

.container-text p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 30px 0;
}

.container-text img {
  margin-left: 10px;
}

.container-img {
  width: 581px;
  height: 613px;
  margin: 36px 20px 0 35px;
}

.container-img img {
  width: 100%;
}
/* Banner Section End */

/* Main Section Start */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

nav {
  background: #161616;
  border-radius: 10px;
  width: 312px;
  height: 312px;
  display: grid;
  justify-content: center;
  align-items: center;
  /* row-gap: 30px; */
}

.nav-container {
  display: grid;
  row-gap: 30px;
}

.nav-item {
  background-color: #fff;
  border-radius: 10px;
  width: 252px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.selected {
  background: #dd0000;
}

.selected a {
  color: #fff;
}

/* Main Section End */
