/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&display=swap");

/* Global Styles */
body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dd0000;
  border-radius: 5px;
  border: none;
  width: 187px;
  height: 56px;
  padding: 16px 25px;

  font-size: 20px;
  font-weight: 400;
}

.button a {
  text-decoration: none;
  color: #fff;
}

/* Banner Section Start */
.container {
  width: 1321px;
  height: 646px;
  background-color: #161616;
  border-radius: 30px;
  margin: 30px auto 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text {
  width: 531px;
  height: 424px;
  margin: 111px 24px 111px 106;
}

.container-text h1 {
  color: #fff;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}

.container-text p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 30px 0;
}

.container-text img {
  margin-left: 10px;
}

.container-img {
  width: 581px;
  height: 613px;
  margin: 36px 20px 0 35px;
}

.container-img img {
  width: 100%;
}
/* Banner Section End */

/* Main Section Start */

/* Side Nav Start */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

nav {
  background: #161616;
  border-radius: 10px;
  width: 312px;
  height: 312px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: grid;
  row-gap: 30px;
}

.nav-item {
  background-color: #fff;
  border-radius: 10px;
  width: 252px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.selected {
  background: #dd0000;
}

.selected a {
  color: #fff;
}
/* Side Nav End */

/* Blog Section Start */

article {
  display: grid;
  grid-template-columns: repeat(3, 312px);
  column-gap: 24px;
  row-gap: 24px;
}

.article-container {
  width: 312px;
  height: 362px;
  border: #e8e8e8 1px solid;
  border-radius: 10px;
}

.inner-contents {
  padding: 20px;
}

.inner-button {
  width: 100px;
  height: 32px;
  border: #161616 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.article-container h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  width: 143px;
  height: 26px;
}

.time-icon,
.chat-icon {
  width: 60px;
  height: 26px;
  display: flex;
  color: rgba(22, 22, 22, 0.7);
}

.time-icon {
  margin-right: 30px;
}

iconify-icon {
  padding-right: 10px;
}

/* Blog Section End */

/* Main Section End */
